

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Альтерра | {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="discription" content="Продажа упаковки" />
  <meta name="keywords" content="Упаковка, упаковочные материалы" />
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  <link href="http://allfont.ru/allfont.css?fonts=andantino-script" rel="stylesheet" type="text/css" />
  <link href="http://allfont.ru/allfont.css?fonts=annabelle" rel="stylesheet" type="text/css" />
  <link href="http://allfont.ru/allfont.css?fonts=brushtype-normal" rel="stylesheet" type="text/css" />
  <link href="http://allfont.ru/allfont.css?fonts=1-flamme-let-plain10" rel="stylesheet" type="text/css" />
</head>
