			<nav class="menu">
					<ul class="menu__list">
						<li class="menu__item">
							<a href="{{ "/index.html" | prepend: site.baseurl }}" class="menu__item__link">
								<b class="menu__list__heading menu__list__heading_active">Главная</b>			
							</a>
							<p class="menu__list__caption">Чем мы занимаемся </p> 
						<li class="menu__list__item">
							<a href="{{ "/news.html" | prepend: site.baseurl }}" class="menu__list__item__link">
								<b class="menu__list__heading">Новости</b>		
							</a>
							<p class="menu__list__caption">Новости упаковки</p>
						</li>
						<li class="menu__list__item">
							<a href="{{ "/about.html" | prepend: site.baseurl }}" class="menu__list__item__link">
								<b class="menu__list__heading">О нас</b>
							</a>
							<p class="menu__list__caption">Несколько слов о нас</p>								
						</li>
						<li class="menu__list__item">
							<a href="{{ "/works.html" | prepend: site.baseurl }}" class="menu__list__item__link">
								<b class="menu__list__heading">Наши работы</b>
							</a>
							<p class="menu__list__caption">Все наши проекты</p>		
						</li>
						<li class="menu__list__item">
							<a href="{{ "/contacts.html" | prepend: site.baseurl }}" class="menu__list__item__link">
								<b class="menu__list__heading">Контакты</b>
							</a>
							<p class="menu__list__caption">email</p>				
						</li>
					</ul>					
			</nav>